* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 600px;
}

body {
	background: #1f2937;
	font-family: 'Karla', sans-serif;
	color: #fff;
	padding: 100px 50px;
}

h1 {
	font-size: 40px;
	font-weight: bolder;
}

span {
	color: #4adf86;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	color: #d5d4d8;
	margin-top: 10px;
}

#password-control {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#generate-btn {
	background: #10b981;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 6px;
	margin-top: 50px;
	width: 190px;
	padding: 10px 15px;
	cursor: pointer;
}
#password-options {
	width: 250px;
}

input[type='range'] {
	accent-color: #10b981;
	cursor: pointer;
	width: 250px;
	border-radius: 3px;
	height: 15px;
}

label {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: #d5d4d8;
}

hr {
	margin: 35px 0;
	border: 1px solid #2f3e53;
}

#passwords {
	display: flex;
	justify-content: space-between;
}

#password-one,
#password-two {
	font-family: 'Inter', sans-serif;
	color: #55f991;
	text-align: center;
	background: #273549;
	height: 40px;
	width: 250px;
	border-radius: 6px;
	padding: 10px 15px;
}
