* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 600px;
}

body {
	background: #1f2937;
	font-family: 'Karla', sans-serif;
	color: #fff;
}

h1 {
	font-size: 40px;
	font-weight: bolder;
}

span {
	color: #4adf86;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	color: #d5d4d8;
}

button {
	background: #10b981;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 6px;
}

#passwords-space {
	display: flex;
	justify-content: space-between;
}

#password-one,
#password-two {
	background: #273549;
	height: 40px;
	width: 200px;
	border-radius: 6px;
}
